body {
  border-width: 0;
  margin: 0;
}

h1 {
  color: #1A374D;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin: 15px;
}

h2 {
  color: #1A374D;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 15px;
}

p {
  color: #1A374D;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 15px;
}

.clouds {
  background-color: #c1def0;
  border-width: 0;
  display: block;
  margin: 0;
  width: 100%;
}

.greeting {
  background-color: #c1def0;
  display: inline-block;
  margin: 0;
  text-align: center;
  height: auto;
  width: 100%;
}

.mountain {
  background-color: #c1def0;
  border-width: 0;
  display: block;
  margin: 0;
  width: 100%;
}

.my-skills {
  margin: 100px auto 100px auto;
  text-align: center;
  width: 50%;
}

.webdev-content {
  text-align: left;
  margin-top: 100px;
}

.webdev-img {
  float: left;
  margin-right: 15px;
  width: 25%;
}

.civileng-content {
  text-align: left;
  margin-top: 150px;
}

.civileng-img {
  float: left;
  margin-right: 15px;
  width: 25%;
}

.my-contacts {
  background-color: #c1def0;
  margin-bottom: 100px;
}

.my-contacts-box {
  background-color: #c1def0;
  text-align: center;
  width: 25%;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 100px auto 100px auto;
}

.facebook-img {
  margin-top: 50px;
  margin-left: 50px;
  float: left;
}

.instagram-img {
  margin-top: 50px;
  height: 50px;
}

.email-img {
  margin-top: 50px;
  height: 50px;
  margin-right: 50px;
  float: right;
}
